*{
    margin:0;
    padding: 0;
}

body{
    background-image: url(../RessourcesImages/fondAccuiel.jpg);
}

#haut{
    background-color: chocolate;   
}

#haut p{
    display: inline-block;
    font-family: cursive;
    margin-bottom: 0px;
}

#haut p{
    
}

#haut #connec{
   
}

div#haut:first-child{
    padding-left: 45%;
}

.container{
}

#center{
    margin-top: 8%;
}

.container{
    background-color: chocolate;
    text-align: center;
}

#desc{
    padding-top: 12%;
}


.logo-accueil{
    position: absolute;
    left: -10%;
    top: -12%;
    max-width: 40%;
    height: auto;
}