*{
    padding: 0;
    margin: 0;
}

#b{
    background-image: url(/ressources//RessourcesImages/interieur-du-magasin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
}

#haut{
    background-color: rgb(164, 99, 21)  ;   
    border: 3px solid black;
}

.container{
    margin-top: 3%;
    text-align: center;
    border: 5px solid black;
    background-image: url(/ressources//RessourcesImages/fut.jpg);
    border-radius: 25%;
}

#all{
    background-color: white;
}

#biere{
    max-width: 100%;
    height: auto;
}
#carac{
    width: 60%;
    
}

#com .row{
    background-color: none;
    text-align: center;
}

#bas{
    background-color: white;
}

#bas{
    width: 60%;
    background-color: white;
}

.container h1{
    font-family: serif;
    font-size: 5em;
    color:  #cecbc5 ;
    font-weight: bold;
}

#carac p{
    font-family: Optima, sans-serif;
    font-weight: bold;
    font-size:1.5em;
    color:  #cecbc5 ;
}

#carac h2{
     color:  #cecbc5 ;
    font-weight: bold;
    font-size: 2.5em;
}

#modi:hover{
    transition: 0.5s;
    color:black;
}

.nom p{
    font-size: 1.5em;
}

.commentaire p{
    text-align: left;
}

.englob{
    text-align: left;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}