  /**  display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    border: 1px solid grey;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    list-style: none;
**/
body{
  background-color: dodgerblue;
}

#logo{
  width: 100px;
}


button {
	width:45px;
	height:40px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
  margin-left: 10px;
  margin-top: 10px;
}

#photodeprofil{
  width: 40px;
}

#id{
  width: 100%;
  padding: opx;
  display:flex;
  align-items:center;
  margin-bottom: -10px;
}

#id h1{
  margin: 0px 20px;
}

#biere{
  padding-left:  10px;
  padding-right:  10px;
  padding-bottom: 2px;
  width:auto;
  opacity:0.8;
  background-color:#C0C0C0;
  margin-top: 10px;
  border-radius: 2px;
}

#resultatRecherche{
	position: absolute;
	width: calc(100% - 30px);
	border: 1px solid lightgrey;
	border-top: none;
	z-index: 2;
}