<body>
  <div style="display : flex;align-items:center; width : 100%;">
    <div class="col-2">
		<img id="logo" src="/ressources/RessourcesImages/logo-biere.png" alt="Adopte Une Biere" />
    </div>
	<div class="col-8">
		<input id="recherche" class="w-100 mr-2" type="search">
		<div id="resultatRecherche" class="bg-light py-3" style='display:none'></div>
    </div>
	<div class="col-2">
		<button class="" style="width: 100px;height: 50px;">Ajouter une bière</button>
	</div>
  </div>
  %FILACTU

