<div id = "all" class="container-fluid">
<div id = "haut" class="row">
<form action = "">
	<p>Mon compte</p>
</form>
</div>
</div>
<div class = "container pb-4">
	<div class = "row m-5" style="justify-items: center;justify-content: space-around;">
		 <div class = "col-4 m-auto"><h1>%IDENTIFIANT</h1></div>
	 </div>
 <div id = "carac" class = " mx-auto">
	<div class = "row justify-content-center"  >
			<div class = "col-5 m-3 p-4"><h2>Description</h2><br /><p>De %PAYS né le %DATENAISSANCE </p></div>
	</div>

   <div class = "row justify-content-center" >
			<div class = "col-3"> <p>Dernière avis :  %NOMBIERE</p>
			<p>%AVIS</p></div>
	  </div>
	</div>
 </div>
