         <div id = "all" class="container-fluid">
          <div id = "haut" class="row">
            <form action = "">
                <p>Mon compte</p>
            </form>
          </div>
         </div> 
             <div class = "container pb-4">
                    <div class = "row m-5" style="justify-items: center;justify-content: space-around;">
                         <div class = "col-4 m-auto"><h1>%NOMBIERE</h1></div>
                        <div class = "col-7 m-4">
                        <img id ="biere" src="%IMAGEBIERE">
                        </div>
                     </div>
                 <div id = "carac" class = " mx-auto">
                    <div class = "row justify-content-center"  >
                            <div class = "col-5 m-3 p-4"><h2>Caractéristiques</h2> </div>
                            <div class ="col-5 m-3 p-4"><p id ="modi">Modifier</p></div>
                    </div>    
                    <div class = "row justify-content-center" >
                             <div class = "col-3"> <p>Degré</p></div>
                             <div class = "col-2"> <p>%DEGREBIERE</p></div>
                    </div>
                    <div class = "row justify-content-center" >
                             <div class = "col-3">   <p>Brasseur</p></div>
                               <div class = "col-2"> <p>%BRASSEUR</p></div>
                     </div>
                     <div class = "row justify-content-center" >
                              <div class = "col-3">  <p>note</p></div>
                              <div class = "col-2"> <p>%NOTEMOYENNE</p></div>
                    </div>
                    <div class = "row justify-content-center" >
                             <div class = "col-3">   <p>type</p></div>
                             <div class = "col-2"> <p>%TYPE</p></div>
                    </div>
                   <div class = "row justify-content-center" >
                            <div class = "col-3"> <p>Date ajout:</p></div>
                            <div class = "col-2"> <p>%DATEAJOUT</p></div>
                    </div>
                 </div>
             </div>
        
            <div id="com" class="container-fluid mt-4">
                <div id = "bas" class = m-auto>
                <form class = "row justify-content-center ajouterAvis">
                        <div class = "col-6 w-100 h-100">
                            <input type = "text" placeholder="Votre commentaire"  name="commentaire" required>
                    </div>
                    
                    <div class = "col-3 ">
                           <select name="note" required>
                                  <option value="invalide">Votre note</option>
                                  <option value="1">1/5</option>
                                  <option value="2">2/5</option>
                                  <option value="3">3/5</option>
                                   <option value="4">4/5</option>
                                   <option value="5">5/5</option>
                            </select>
                    </div>
                    <div class = "col-3">
						<input type = "hidden" name="idBiere" value="%IDBIERE">
                        <input type ="submit" value = "Poster">
                        </div>
                 </form>
				 %COMMENTAIRES
            </div>
        </div>
